# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/slang/.vs/slang/v15
*.suo
*.ilk
*.pdb
*.tlog
*.log
*.idb
*.vcxproj
*.filters
*.user
*.sln
